body {
    background-color: #f2f4f7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: sans-serif;
}
h1 {
    color: rgba(0, 0, 255, 0.774);
    font-size: 70px;
}
.frase {
    font-size: 25px;
}
.p {

}
.div-direita {
    flex-direction: column;
}
.div-esquerda {
    height: 800px;

}
.card-login {
    background-color: white;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    flex-direction: column;
    gap: 2px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.flex-card {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-text {
    width: 300px;
    height: 40px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding-left: 10px;
}
.input-text::placeholder {
    color: gray;
}
.input-text:focus {
    border-color: blue;
    outline: none;
}
.input-button {
    width: 300px;
    height: 40px;
    background-color: rgba(0, 0, 255, 0.774);
    padding: 100px 135px 0px 135;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.Bverde {
    background-color: #42b72a;
    border: none;
    border-radius: 5px;
    height: 40px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.senha {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.senha a {
    text-decoration: none;
    color: blue;
    font-size: 14px;
}
.linha {
    border: 1px solid;
    width: 300px;
    border-color: rgb(201, 199, 199);
    margin-bottom: 20px;
    margin-top: 20px;
}

